{% extends 'base.html.twig' %}

{% set title = 'Graphique' %}
{% set item = 'graphique' %}

{% block body %}
  <style>
    .done {
      background-color:#00CC33;
    }
    .refused {
      background-color:#FF0000;
    }
    .in_progress {
      animation-duration: 1000ms;
      animation-name: blink;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      -webkit-animation:blink 1000ms infinite;
    }
    @keyframes blink {
      from {
        background-color:white;
      }
      to {
        background-color:#007826;
      }
    }
    @-webkit-keyframes blink {
      from {
        background-color:white;
      }
      to {
        background-color:#007826;
      }
    }
  </style>
  <div class="container-fluid">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#graphique_nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{# <img alt="Brand" width="20"  src="{{ asset('favicon.png') }}"> #}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="graphique_nav">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" rel="tab_graphique"><i class="fa fa-bar-chart"></i> Graphe</a></li>
            <li class=""><a href="#" rel="tab_tableaux"><i class="fa fa-table"></i> Tableaux</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <fieldset id="tab_graphique">
      <legend>Graphe</legend>

      <table class="table">
        <thead>
          <tr class="info">
            <th></th>
            <th></th>
            <th colspan="3">Exploration</th>
            <th>D1</th>
            <th colspan="5">Négociation</th>
            <th>D2</th>
            <th colspan="7">Développement</th>
            <th>D3</th>
            <th colspan="7">Instruction</th>
            <th>D4</th>
            <th colspan="6">Pré-construction</th>
            <th>D5</th>
            <th colspan="7">Construction</th>
          </tr>
          <tr>
            <th>ID</th>
            <th>Type de projet</th>
            {% for i in 1..40 %}
            <th>{{ i }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody id="graphique">
        </tbody>
      </table>
    </fieldset>
    <fieldset id="tab_tableaux" class="hide">
      <legend>Tableaux</legend>

      <table class="table">
        <thead>
          <tr class="info">
            <th style="width:250px;">Type de projet</th>
            <th>Exploration</th>
            <th>D1</th>
            <th>Négociation</th>
            <th>D2</th>
            <th>Développement</th>
            <th>D3</th>
            <th>Instruction</th>
            <th>D4</th>
            <th>Pré-construction</th>
            <th>D5</th>
            <th>Construction</th>
          </tr>
        </thead>
        <tbody id="tableaux_by_type">
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr class="info">
            <th style="width:250px;">Region</th>
            <th>Exploration</th>
            <th>D1</th>
            <th>Négociation</th>
            <th>D2</th>
            <th>Développement</th>
            <th>D3</th>
            <th>Instruction</th>
            <th>D4</th>
            <th>Pré-construction</th>
            <th>D5</th>
            <th>Construction</th>
          </tr>
        </thead>
        <tbody id="tableaux_by_region">
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr class="info">
            <th style="width:250px;">Utilisateur</th>
            <th>Exploration</th>
            <th>D1</th>
            <th>Négociation</th>
            <th>D2</th>
            <th>Développement</th>
            <th>D3</th>
            <th>Instruction</th>
            <th>D4</th>
            <th>Pré-construction</th>
            <th>D5</th>
            <th>Construction</th>
          </tr>
        </thead>
        <tbody id="tableaux_by_user">
        </tbody>
      </table>
    </fieldset>
  </div>
{% endblock %}

{% block js %}
  
  <script>
    var data = [];
    var byType = {};
    var byRegion = {};
    var byUser = {};
    var users = {};
    {% for projet in projets %}
      data.push({
          id: {{ projet.id }},
          typeProjet: '{{ projet.typeProjet }}',
          {% set column = 0 %}
          {% set class = 'done' %}
          {% set en_attente = 0 %}
          {% if projet.phase == 'decision1' %}
            {% set column = 4 %}
            {% if projet.progression == 'rejet' %}
              {% set class = 'refused' %}
            {% elseif projet.progression == 'en_attente' %}
              {% set en_attente = 1 %}
              {% set class = 'in_progress' %}
            {% endif %}
          {% elseif projet.phase == 'decision2' %}
            {% set column = 10 %}
            {% if projet.progression == 'rejet' %}
              {% set class = 'refused' %}
            {% elseif projet.progression == 'en_attente' %}
              {% set en_attente = 1 %}
              {% set class = 'in_progress' %}
            {% endif %}
          {% elseif projet.phase == 'decision3' %}
            {% set column = 18 %}
            {% if projet.progression == 'rejet' %}
              {% set class = 'refused' %}
            {% elseif projet.progression == 'en_attente' %}
              {% set en_attente = 1 %}
              {% set class = 'in_progress' %}
            {% endif %}
          {% elseif projet.phase == 'decision4' %}
            {% set column = 26 %}
            {% if projet.progression == 'rejet' %}
              {% set class = 'refused' %}
            {% elseif projet.progression == 'en_attente' %}
              {% set en_attente = 1 %}
              {% set class = 'in_progress' %}
            {% endif %}
          {% elseif projet.phase == 'decision5' %}
            {% set column = 33 %}
            {% if projet.progression == 'rejet' %}
              {% set class = 'refused' %}
            {% elseif projet.progression == 'en_attente' %}
              {% set en_attente = 1 %}
              {% set class = 'in_progress' %}
            {% endif %}
          {% else %}
            {% set column = projet.progression|replace({'nouveau':0,'verification':1,'identification':2,'contacts':3,'visites':5,'pourpalers':6,'signatures':7,'sous_promesse':8,'accord_municipal':9,'devis_etude':11,'budgete':12,'a_letude':13,'avant_projet':14,'prerapport':15,'projet_fige':16,'etudes_boucles':17,'dossier_depose':19,'completude':20,'a_lenquete':21,'replique':22,'soutenance':23,'autorise':24,'purge':25,'bornage':27,'plan_exe':28,'baux_signe':29,'etude_geo':30,'contrat_rac':31,'contrat_achat':32,'chiffrage':34,'data_room':35,'audits':36,'finance':37,'achats':38,'en_travaux':39,'en_service':40}) %}
          {% endif %}
          column: {{ column }},
          {% if column %}
            class: '{{ class }}',
          {% else %}
            class: '',
          {% endif %}
      });
      if('{{ projet.typeProjet }}' in byType && '{{ projet.phase }}' in byType['{{ projet.typeProjet }}']) byType['{{ projet.typeProjet }}']['{{ projet.phase }}'] = byType['{{ projet.typeProjet }}']['{{ projet.phase }}']+1;
      else {
        if(!('{{ projet.typeProjet }}' in byType)) byType['{{ projet.typeProjet }}'] = {};
        byType['{{ projet.typeProjet }}']['{{ projet.phase }}'] = 1;
      }
      if('{{ projet.departement.region.nom }}' in byRegion && '{{ projet.phase }}' in byRegion['{{ projet.departement.region.nom }}']) byRegion['{{ projet.departement.region.nom }}']['{{ projet.phase }}'] = byRegion['{{ projet.departement.region.nom }}']['{{ projet.phase }}']+1;
      else {
        if(!('{{ projet.departement.region.nom }}' in byRegion)) byRegion['{{ projet.departement.region.nom }}'] = {};
        byRegion['{{ projet.departement.region.nom }}']['{{ projet.phase }}'] = 1;
      }
      if('{{ projet.origine.id }}' in byUser && '{{ projet.phase }}' in byUser['{{ projet.origine.id }}']) byUser['{{ projet.origine.id }}']['{{ projet.phase }}'] = byUser['{{ projet.origine.id }}']['{{ projet.phase }}']+1;
      else {
        if(!('{{ projet.origine.id }}' in byUser)) byUser['{{ projet.origine.id }}'] = {};
        byUser['{{ projet.origine.id }}']['{{ projet.phase }}'] = 1;
      }
      if('{{ projet.origine.id }}' in users) users['{{ projet.origine.id }}'] = '{{ projet.origine.prenom }}';
      users['{{ projet.origine.id }}'] = '{{ projet.origine.prenom }}';
    {% endfor %}
    var typeProjet = {{ grid_helper.getJsonIconsTypeProjets|raw }};

    function typeProjetFormatter(value) {
      return typeProjet[value] !== undefined ? typeProjet[value]['name'] : value;
    }
    function formatProjetLink(value) {
      url = '{{ path('projet_edit', {id: 0}) }}';
      return url.replace(/0/, value);
    }
    $.each(data, function(index, row) {
      var rest = '';
      for (var i = 1; i <= 40; i++) {
        if(row['column'] > i) rest += '<td class="done"></td>';
        else if(row['column'] == i) rest += '<td class="'+row['class']+'"></td>';
        else rest += '<td></td>';
      }
      var found = 0;
      $('#graphique tr').each(function(index2, row2) {
        if(!found && $(row2).attr('rel') < row['column']) {
          $('<tr rel="'+row['column']+'"><td><a href="'+formatProjetLink(row['id'])+'">'+row['id']+'</a></td><td>'+typeProjetFormatter(row['typeProjet'])+'</td>'+rest+'</tr>').insertBefore($(row2));
          found = true;
        }
      });
      if(!found) $('#graphique').append('<tr rel="'+row['column']+'"><td><a href="'+formatProjetLink(row['id'])+'">'+row['id']+'</a></td><td>'+typeProjetFormatter(row['typeProjet'])+'</td>'+rest+'</tr>');
    });
    
    $.each(byType, function(index, row) {
      var total = 0;
      var type = index;
      $.each(row, function(index3, row3) {
        total += row3;
      });
      var rest = '';
      if('exploratoire' in row) rest += '<td>'+row['exploratoire']+'</td>';
      else rest += '<td>0</td>';
      if('decision1' in row) rest += '<td>'+row['decision1']+'</td>';
      else rest += '<td>0</td>';
      if('negociation' in row) rest += '<td>'+row['negociation']+'</td>';
      else rest += '<td>0</td>';
      if('decision2' in row) rest += '<td>'+row['decision2']+'</td>';
      else rest += '<td>0</td>';
      if('developpement' in row) rest += '<td>'+row['developpement']+'</td>';
      else rest += '<td>0</td>';
      if('decision3' in row) rest += '<td>'+row['decision3']+'</td>';
      else rest += '<td>0</td>';
      if('instruction' in row) rest += '<td>'+row['instruction']+'</td>';
      else rest += '<td>0</td>';
      if('decision4' in row) rest += '<td>'+row['decision4']+'</td>';
      else rest += '<td>0</td>';
      if('preconstruction' in row) rest += '<td>'+row['preconstruction']+'</td>';
      else rest += '<td>0</td>';
      if('decision5' in row) rest += '<td>'+row['decision5']+'</td>';
      else rest += '<td>0</td>';
      if('construction' in row) rest += '<td>'+row['construction']+'</td>';
      else rest += '<td>0</td>';
      var found = 0;
      $('#tableaux_by_type tr').each(function(index2, row2) {
        if(!found && $(row2).attr('rel') > total) {
          $('<tr rel="'+total+'"><td>'+typeProjetFormatter(index)+'</td>'+rest+'</tr>').insertBefore($(row2));
          found = true;
        }
      });
      if(!found) $('#tableaux_by_type').append('<tr rel="'+total+'"><td>'+typeProjetFormatter(index)+'</td>'+rest+'</tr>');
    });
    $.each(byRegion, function(index, row) {
      var total = 0;
      var type = index;
      $.each(row, function(index3, row3) {
        total += row3;
      });
      var rest = '';
      if('exploratoire' in row) rest += '<td>'+row['exploratoire']+'</td>';
      else rest += '<td>0</td>';
      if('decision1' in row) rest += '<td>'+row['decision1']+'</td>';
      else rest += '<td>0</td>';
      if('negociation' in row) rest += '<td>'+row['negociation']+'</td>';
      else rest += '<td>0</td>';
      if('decision2' in row) rest += '<td>'+row['decision2']+'</td>';
      else rest += '<td>0</td>';
      if('developpement' in row) rest += '<td>'+row['developpement']+'</td>';
      else rest += '<td>0</td>';
      if('decision3' in row) rest += '<td>'+row['decision3']+'</td>';
      else rest += '<td>0</td>';
      if('instruction' in row) rest += '<td>'+row['instruction']+'</td>';
      else rest += '<td>0</td>';
      if('decision4' in row) rest += '<td>'+row['decision4']+'</td>';
      else rest += '<td>0</td>';
      if('preconstruction' in row) rest += '<td>'+row['preconstruction']+'</td>';
      else rest += '<td>0</td>';
      if('decision5' in row) rest += '<td>'+row['decision5']+'</td>';
      else rest += '<td>0</td>';
      if('construction' in row) rest += '<td>'+row['construction']+'</td>';
      else rest += '<td>0</td>';
      var found = 0;
      $('#tableaux_by_region tr').each(function(index2, row2) {
        if(!found && $(row2).attr('rel') > total) {
          $('<tr rel="'+total+'"><td>'+index+'</td>'+rest+'</tr>').insertBefore($(row2));
          found = true;
        }
      });
      if(!found) $('#tableaux_by_region').append('<tr rel="'+total+'"><td>'+index+'</td>'+rest+'</tr>');
    });
    $.each(byUser, function(index, row) {
      var total = 0;
      var type = index;
      $.each(row, function(index3, row3) {
        total += row3;
      });
      var rest = '';
      if('exploratoire' in row) rest += '<td>'+row['exploratoire']+'</td>';
      else rest += '<td>0</td>';
      if('decision1' in row) rest += '<td>'+row['decision1']+'</td>';
      else rest += '<td>0</td>';
      if('negociation' in row) rest += '<td>'+row['negociation']+'</td>';
      else rest += '<td>0</td>';
      if('decision2' in row) rest += '<td>'+row['decision2']+'</td>';
      else rest += '<td>0</td>';
      if('developpement' in row) rest += '<td>'+row['developpement']+'</td>';
      else rest += '<td>0</td>';
      if('decision3' in row) rest += '<td>'+row['decision3']+'</td>';
      else rest += '<td>0</td>';
      if('instruction' in row) rest += '<td>'+row['instruction']+'</td>';
      else rest += '<td>0</td>';
      if('decision4' in row) rest += '<td>'+row['decision4']+'</td>';
      else rest += '<td>0</td>';
      if('preconstruction' in row) rest += '<td>'+row['preconstruction']+'</td>';
      else rest += '<td>0</td>';
      if('decision5' in row) rest += '<td>'+row['decision5']+'</td>';
      else rest += '<td>0</td>';
      if('construction' in row) rest += '<td>'+row['construction']+'</td>';
      else rest += '<td>0</td>';
      var found = 0;
      $('#tableaux_by_user tr').each(function(index2, row2) {
        if(!found && $(row2).attr('rel') > total) {
          $('<tr rel="'+total+'"><td>'+users[index]+'</td>'+rest+'</tr>').insertBefore($(row2));
          found = true;
        }
      });
      if(!found) $('#tableaux_by_user').append('<tr rel="'+total+'"><td>'+users[index]+'</td>'+rest+'</tr>');
    });
    $('#graphique_nav a').click(function (e) {
      e.preventDefault();
      var attr = $(this).attr('rel');
      if(typeof attr !== typeof undefined && attr !== false) {
        $('#graphique_nav li').removeClass('active');
        $(this).parent().addClass('active');
        $('fieldset').addClass('hide');
        $('fieldset#' + attr).removeClass('hide');
      }
    });
  </script>
{% endblock %}