{% extends 'base.html.twig' %}

{% set title = 'Tableaux' %}
{% set item = 'tableaux' %}

{% block body %}
  <style>
    .done {
      background-color:#00CC33;
    }
    .refused {
      background-color:#FF0000;
    }
    .in_progress {
      animation-duration: 1000ms;
      animation-name: blink;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      -webkit-animation:blink 1000ms infinite;
    }
    @keyframes blink {
      from {
        background-color:white;
      }
      to {
        background-color:#007826;
      }
    }
    @-webkit-keyframes blink {
      from {
        background-color:white;
      }
      to {
        background-color:#007826;
      }
    }
  </style>
  <div class="container-fluid">
    <fieldset id="tab_tableaux">
      <legend>Tableaux ({{ projets|length }} sites)</legend>

      <table class="table">
        <thead>
          <tr>
            <th style="width:250px;">Type de projet</th>
            <th>exploratoire</th>
            <th>D1</th>
            <th>Négociation</th>
            <th>D2</th>
            <th>Développement</th>
            <th>D3</th>
            <th>Instruction</th>
            <th>D4</th>
            <th>Pré-construction</th>
            <th>D5</th>
            <th>Construction</th>
          </tr>
        </thead>
        <tbody id="tableaux_by_type">
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th style="width:250px;">Region</th>
            <th>exploratoire</th>
            <th>D1</th>
            <th>Négociation</th>
            <th>D2</th>
            <th>Développement</th>
            <th>D3</th>
            <th>Instruction</th>
            <th>D4</th>
            <th>Pré-construction</th>
            <th>D5</th>
            <th>Construction</th>
          </tr>
        </thead>
        <tbody id="tableaux_by_region">
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th style="width:250px;">Utilisateur</th>
            <th>exploratoire</th>
            <th>D1</th>
            <th>Négociation</th>
            <th>D2</th>
            <th>Développement</th>
            <th>D3</th>
            <th>Instruction</th>
            <th>D4</th>
            <th>Pré-construction</th>
            <th>D5</th>
            <th>Construction</th>
          </tr>
        </thead>
        <tbody id="tableaux_by_user">
        </tbody>
      </table>
    </fieldset>
  </div>
{% endblock %}

{% block js %}
  
  <script>
    var byType = {};
    var byRegion = {};
    var byUser = {};
    var users = {};
    {% for projet in projets %}
      if('{{ projet.typeProjet }}' in byType && '{{ projet.phase }}' in byType['{{ projet.typeProjet }}']) byType['{{ projet.typeProjet }}']['{{ projet.phase }}'] = byType['{{ projet.typeProjet }}']['{{ projet.phase }}']+1;
      else {
        if(!('{{ projet.typeProjet }}' in byType)) byType['{{ projet.typeProjet }}'] = {};
        byType['{{ projet.typeProjet }}']['{{ projet.phase }}'] = 1;
      }
      if('{{ projet.departement.region.nom }}' in byRegion && '{{ projet.phase }}' in byRegion['{{ projet.departement.region.nom }}']) byRegion['{{ projet.departement.region.nom }}']['{{ projet.phase }}'] = byRegion['{{ projet.departement.region.nom }}']['{{ projet.phase }}']+1;
      else {
        if(!('{{ projet.departement.region.nom }}' in byRegion)) byRegion['{{ projet.departement.region.nom }}'] = {};
        byRegion['{{ projet.departement.region.nom }}']['{{ projet.phase }}'] = 1;
      }
      if('{{ projet.origine.id }}' in byUser && '{{ projet.phase }}' in byUser['{{ projet.origine.id }}']) byUser['{{ projet.origine.id }}']['{{ projet.phase }}'] = byUser['{{ projet.origine.id }}']['{{ projet.phase }}']+1;
      else {
        if(!('{{ projet.origine.id }}' in byUser)) byUser['{{ projet.origine.id }}'] = {};
        byUser['{{ projet.origine.id }}']['{{ projet.phase }}'] = 1;
      }
      if('{{ projet.origine.id }}' in users) users['{{ projet.origine.id }}'] = '{{ projet.origine.prenom }}';
      users['{{ projet.origine.id }}'] = '{{ projet.origine.prenom }}';
    {% endfor %}
    var typeProjet = {{ grid_helper.getJsontypeProjets|raw }};

    function typeProjetFormatter(value) {
      return typeProjet[value] !== undefined ? typeProjet[value]['name'] : value;
    }
    function formatProjetLink(value) {
      url = '{{ path('projet_edit', {id: 0}) }}';
      return url.replace(/0/, value);
    }
    $.each(byType, function(index, row) {
      var total = 0;
      var type = index;
      $.each(row, function(index3, row3) {
        total += row3;
      });
      var rest = '';
      if('exploratoire' in row) rest += '<td>'+row['exploratoire']+'</td>';
      else rest += '<td>0</td>';
      if('decision1' in row) rest += '<td>'+row['decision1']+'</td>';
      else rest += '<td>0</td>';
      if('negociation' in row) rest += '<td>'+row['negociation']+'</td>';
      else rest += '<td>0</td>';
      if('decision2' in row) rest += '<td>'+row['decision2']+'</td>';
      else rest += '<td>0</td>';
      if('developpement' in row) rest += '<td>'+row['developpement']+'</td>';
      else rest += '<td>0</td>';
      if('decision3' in row) rest += '<td>'+row['decision3']+'</td>';
      else rest += '<td>0</td>';
      if('instruction' in row) rest += '<td>'+row['instruction']+'</td>';
      else rest += '<td>0</td>';
      if('decision4' in row) rest += '<td>'+row['decision4']+'</td>';
      else rest += '<td>0</td>';
      if('preconstruction' in row) rest += '<td>'+row['preconstruction']+'</td>';
      else rest += '<td>0</td>';
      if('decision5' in row) rest += '<td>'+row['decision5']+'</td>';
      else rest += '<td>0</td>';
      if('construction' in row) rest += '<td>'+row['construction']+'</td>';
      else rest += '<td>0</td>';
      var found = 0;
      $('#tableaux_by_type tr').each(function(index2, row2) {
        if(!found && $(row2).attr('rel') > total) {
          $('<tr rel="'+total+'"><td>'+typeProjetFormatter(index)+'</td>'+rest+'</tr>').insertBefore($(row2));
          found = true;
        }
      });
      if(!found) $('#tableaux_by_type').append('<tr rel="'+total+'"><td>'+typeProjetFormatter(index)+'</td>'+rest+'</tr>');
    });
    $.each(byRegion, function(index, row) {
      var total = 0;
      var type = index;
      $.each(row, function(index3, row3) {
        total += row3;
      });
      var rest = '';
      if('exploratoire' in row) rest += '<td>'+row['exploratoire']+'</td>';
      else rest += '<td>0</td>';
      if('decision1' in row) rest += '<td>'+row['decision1']+'</td>';
      else rest += '<td>0</td>';
      if('negociation' in row) rest += '<td>'+row['negociation']+'</td>';
      else rest += '<td>0</td>';
      if('decision2' in row) rest += '<td>'+row['decision2']+'</td>';
      else rest += '<td>0</td>';
      if('developpement' in row) rest += '<td>'+row['developpement']+'</td>';
      else rest += '<td>0</td>';
      if('decision3' in row) rest += '<td>'+row['decision3']+'</td>';
      else rest += '<td>0</td>';
      if('instruction' in row) rest += '<td>'+row['instruction']+'</td>';
      else rest += '<td>0</td>';
      if('decision4' in row) rest += '<td>'+row['decision4']+'</td>';
      else rest += '<td>0</td>';
      if('preconstruction' in row) rest += '<td>'+row['preconstruction']+'</td>';
      else rest += '<td>0</td>';
      if('decision5' in row) rest += '<td>'+row['decision5']+'</td>';
      else rest += '<td>0</td>';
      if('construction' in row) rest += '<td>'+row['construction']+'</td>';
      else rest += '<td>0</td>';
      var found = 0;
      $('#tableaux_by_region tr').each(function(index2, row2) {
        if(!found && $(row2).attr('rel') > total) {
          $('<tr rel="'+total+'"><td>'+index+'</td>'+rest+'</tr>').insertBefore($(row2));
          found = true;
        }
      });
      if(!found) $('#tableaux_by_region').append('<tr rel="'+total+'"><td>'+index+'</td>'+rest+'</tr>');
    });
    $.each(byUser, function(index, row) {
      var total = 0;
      var type = index;
      $.each(row, function(index3, row3) {
        total += row3;
      });
      var rest = '';
      if('exploratoire' in row) rest += '<td>'+row['exploratoire']+'</td>';
      else rest += '<td>0</td>';
      if('decision1' in row) rest += '<td>'+row['decision1']+'</td>';
      else rest += '<td>0</td>';
      if('negociation' in row) rest += '<td>'+row['negociation']+'</td>';
      else rest += '<td>0</td>';
      if('decision2' in row) rest += '<td>'+row['decision2']+'</td>';
      else rest += '<td>0</td>';
      if('developpement' in row) rest += '<td>'+row['developpement']+'</td>';
      else rest += '<td>0</td>';
      if('decision3' in row) rest += '<td>'+row['decision3']+'</td>';
      else rest += '<td>0</td>';
      if('instruction' in row) rest += '<td>'+row['instruction']+'</td>';
      else rest += '<td>0</td>';
      if('decision4' in row) rest += '<td>'+row['decision4']+'</td>';
      else rest += '<td>0</td>';
      if('preconstruction' in row) rest += '<td>'+row['preconstruction']+'</td>';
      else rest += '<td>0</td>';
      if('decision5' in row) rest += '<td>'+row['decision5']+'</td>';
      else rest += '<td>0</td>';
      if('construction' in row) rest += '<td>'+row['construction']+'</td>';
      else rest += '<td>0</td>';
      var found = 0;
      $('#tableaux_by_user tr').each(function(index2, row2) {
        if(!found && $(row2).attr('rel') > total) {
          $('<tr rel="'+total+'"><td>'+users[index]+'</td>'+rest+'</tr>').insertBefore($(row2));
          found = true;
        }
      });
      if(!found) $('#tableaux_by_user').append('<tr rel="'+total+'"><td>'+users[index]+'</td>'+rest+'</tr>');
    });
  </script>
{% endblock %}