{% extends 'base.html.twig' %}

{% set title = 'Nouvelle liste' %}
{% set item = 'creer' %}

{% form_theme formRappel 'bootstrap_3_horizontal_sm_layout.html.twig' %}

{% block body %}

  <div class="container">
  {{ form_start(form) }}
  <div class="row">
    <div class="col-xs-12">

      <fieldset>
        <legend>Nouvelle Liste</legend>
        <div class="col-xs-4">
        {{ form_row(form.listeFile) }}
        </div>
        <div class="col-xs-2">
          <button type="submit" class="btn btn-primary"><i class="fa fa-paperclip"></i> Importer</button>
        </div>
      </fieldset>

    </div>
  </div>
  {{ form_rest(form) }}
  {{ form_end(form) }}
  
  {{ form_start(formRappel) }}
  <div class="row">
    <div class="col-xs-12">

      <fieldset>
        <legend>Rappel pour l'import des données &nbsp;<button class="btn btn-warning" id="dispaly_mode">Voir</button></legend>
        <div class="col-xs-10">
        {{ form_widget(formRappel.datas) }}
        </div>
        <div class="col-xs-2">
          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Sauvegarder</button>
        </div>
      </fieldset>

    </div>
  </div>
  {{ form_rest(formRappel) }}
  {{ form_end(formRappel) }}


  </div>


{% endblock %}

{% block js %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script>
    var $collectionHolderDocument = $('#rappel_datas');
    var prototypeDocument = $collectionHolderDocument.data('prototype');

    $('#rappel_datas_add_entry').click(function () {
      var length = $collectionHolderDocument.children().length;
      var entry = prototypeDocument.replace(/__name__label__/g, length);
      entry = entry.replace(/__name__/g, length);
      $collectionHolderDocument.append(entry);

      $('#rappel_datas_' + length + '_date').datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true,
        language: 'fr',
      });

    });

    $('#rappel_datas_remove_entry').click(function () {
      $('> :last-child', $collectionHolderDocument).remove();
    });
    $('#dispaly_mode').click(function(e) {
      e.preventDefault();
      $.each($('#rappel_datas input'), function() {
        if($(this).hasClass('hide')) {
          $('#dispaly_mode').text('Voir');
          $(this).parent().find('span').remove();
          $(this).removeClass('hide');
        } else {
          $('#dispaly_mode').text('Modifier');
          $(this).parent().append('<span style="font-size: smaller;">' + $(this).val() + '</span>');
          $(this).addClass('hide');
        }
      });
    });
    function refreshOrder() {
      $('#rappel_datas tr').each(function(index, element) {
        $(element).find('input[id*="_order"]').val((index + 1));
      });
    }
    $('#rappel_datas').sortable({ handle:'.sort_row', start: function(event, row){}, update: function(event, row){refreshOrder();} });
  </script>
{% endblock %}