
<table class="table table-super-condensed table-bordered table-hover">
  <tbody>
    <tr>
  
      <th colspan="2" style="vertical-align: middle;">
        
        {% if is_granted('edit', projet) %}
          <a id="edit-link" href="{{ path('projet_edit', { 'id': projet.id, 'show': show  }) }}" class="btn btn-xs btn-danger pull-right"><i class="fa fa-pencil"></i> Editer</a>
        {% endif %}
        <a id="export-pdf" href="{{ path('projet_pdf', { 'id': projet.id }) }}" class="btn btn-xs btn-success pull-right" style="margin-right: 2px;" data-id="{{ projet.id }}"><i class="fa fa-file-pdf-o"></i> PDF</a>
        <a id="export-projet" href="#" class="btn btn-xs btn-primary pull-right" style="margin-right: 2px;" data-id="{{ projet.id }}"><i class="fa fa-file-excel-o"></i> CSV</a>
        <div class="projet-title"><i class="fa fa-eye"></i> {{ projet.denomination }}</div>
      </th>
    </tr>
    <tr>
      <th colspan="2">Références</th>
    </tr>
    <tr>
      <td style="width: 170px;">Statut</td>
      <td>{{ projet.archived ? '<i class="fa fa-archive"></i> Archivé' : 'Actif' }} </td>
    </tr>
    <tr>
      <td style="width: 170px;">Date création</td>
      <td>{{ projet.dateCreation|date('d/m/Y') }}</td>
    </tr>
    {# <tr>
      <td>Date de mise à jour</td>
      <td>{{ projet.updatedAt|date('d/m/Y') }}</td>
    </tr> #}
    <tr>
      <td>Dénomination</td>
      <td>{{ projet.denomination }}</td>
    </tr>
    <tr>
      <th colspan="2">Typologies</th>
    </tr>
    <tr>
      <td>Type de Projet</td>
      <td>
        {{ projet.typeProjet|type_projet_format }}</td>
    </tr>
    <tr>
      <td>Type de bien</td>
      <td>
        {{ projet.typeSite|type_site_format }}</td>
    </tr>
    <tr>
      <td>Type de milieu</td>
      <td>{{ projet.environnement|environnement_format }}</td>
    </tr>
    <tr>
      <th colspan="2">Situation administrative</th>
    </tr>
    <tr>
      <td>Région</td>
      <td>{{ projet.departement.region }}</td>
    </tr>
    <tr>
      <td>Département</td>
      <td>{{ projet.departement }}</td>
    </tr>
    <tr>
      <td>Commune(s)</td>
      <td>
        {% for commune in projet.communes %}
          <a href="{{ path('annuaire_mairie', { 'insee': commune.insee }) }}">{{ commune }}</a>{% if not loop.last %}<br>{% endif %}
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th colspan="2">Situation géographique</th>
    </tr>
    <tr>
      <td>Latitude</td>
      <td>{{ projet.latitude }}</td>
    </tr>
    <tr>
      <td>Longitude</td>
      <td>{{ projet.longitude }}</td>
    </tr>
    <tr>
      <td>Adresse postale</td>
      <td>{{ projet.adresse }}</td>
    </tr>
    <tr>
      <th colspan="2">Avancement</th>
    </tr>
    <tr>
      <td>Phase</td>
      <td>{{ projet.phase|phase_format }}</td>
    </tr>
    <tr>
      <td>État</td>
      <td>{{ projet.progression|progression_format }}</td>
    </tr>
    <tr>
      <th>Potentiel (MW)</th>
      <td>{{ projet.potentiel }}</td>
    </tr>
  </tbody>
</table>

<table class="table table-condensed table-super-condensed table-bordered table-hover">
  <thead>
    <tr>
      <th>Commentaires</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ projet.commentaires ? projet.commentaires|nl2br : 'N/A' }}</td>
    </tr>
  </tbody>
</table>