{% extends 'base.html.twig' %}

{% set title = gestionnaire %}
{% set item = 'annuaire' %}

{% block body %}

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-6">
        <h1>{{ gestionnaire }}</h1>
        <hr>
        
        <table class="table table-hover table-striped">
          <tbody>
            <tr>
              <th>Gestionnaire</th>
              <td>{{ gestionnaire.gestionnaire }}</td>
            </tr>
            <tr>
              <th>Compétence</th>
              <td>{{ gestionnaire.competence }}</td>
            </tr>
            <tr>
              <th>Contact</th>
              <td>{{ gestionnaire.contact }}</td>
            </tr>
            <tr>
              <th>Fonction</th>
              <td>{{ gestionnaire.fonction }}</td>
            </tr>
            <tr>
              <th>Département</th>
              <td>{{ gestionnaire.departement is not empty ? gestionnaire.departement.nom : '' }}</td>
            </tr>
            <tr>
              <th><i class="fa fa-map-marker fa-fw"></i> Adresse</th>
              <td>
                {{ gestionnaire.adresse }}
                <button type="button" data-address="{{ gestionnaire.adresse }}" class="select-address btn btn-xs btn-primary pull-right"><i class="fa fa-mail-forward"></i></button>
              </td>
            </tr>
            <tr>
              <th><i class="fa fa-map-marker fa-fw"></i> Ville</th>
              <td>
                {{ gestionnaire.ville }}
                <button type="button" data-address="{{ gestionnaire.ville }}" class="select-address btn btn-xs btn-primary pull-right"><i class="fa fa-mail-forward"></i></button>
              </td>
            </tr>
            <tr>
              <th><i class="fa fa-send fa-fw"></i> Email</th>
              <td>{{ gestionnaire.email }}</td>
            </tr>
            <tr>
              <th><i class="fa fa-phone fa-fw"></i> Téléphone</th>
              <td>
              {% if is_granted('ROLE_ADMIN') %}<button class="btn btn-default btn-xs edit_data" title="Modifier" data='{"telephone": "{{ gestionnaire.telephone }}"}'><i class="fa fa-pencil-square-o"></i></button>&nbsp;{% endif %}
              {{ gestionnaire.telephone }}
              </td>
            </tr>
            <tr>
              <th><i class="fa fa-envelope-o"></i> EMAIL 1</th>
              <td>
              {% if is_granted('ROLE_ADMIN') %}<button class="btn btn-default btn-xs edit_data" title="Modifier" data='{"email": "{{ gestionnaire.email }}"}'><i class="fa fa-pencil-square-o"></i></button>&nbsp;{% endif %}
              {{ gestionnaire.email }}
                <button type="button" data-mail="{{ gestionnaire.email }}" class="select-mail btn btn-xs btn-primary pull-right"><i class="fa fa-mail-forward"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
            
        <h1>Email envoyé</h1>
        <hr>

        {% if gestionnaire.messages is empty %}
          <p>Aucun email envoyé</p>
        {% else %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Destinaire</th>
                <th>Contactée par</th>
              </tr>
            </thead>
            <tbody>
              {% for message in gestionnaire.messages %}
              <tr>
                <td>{{ message.createdAt|date('d/m/Y H:i:s') }}</td>
                <td>{{ message.to }}</td>
                <td>{{ message.createdBy }}</td>
                <td></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        
      </div>
      <div id="form_date" class="col-md-6">

        <h1>Envoyer un email</h1>
        <hr>
        {{ form_start(form) }}
        
        {{ form_row(form.from) }}
        {{ form_row(form.to) }}
        {# {{ form_row(form.replyTo) }} #}
        
        <hr>
        
        <div class="form-group">
          <label class="col-sm-2 control-label">Modèle</label>
          <div class="col-sm-10">
            <select id="select-model" class="form-control">
              <option value=""></option>
              {% for model in models %}
                <option value="{{ model.id }}">{{ model.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        
        <hr>
        
        {{ form_rest(form) }}

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary"><i class="fa fa-send fa-fw"></i> Envoyer</button>
          </div>
        </div>
        {{ form_end(form) }}

      </div>
    </div>

  </div>

  {% if is_granted('ROLE_ADMIN') %}
  <div id="gestionnaireModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modifier gestionnaire</h4>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          <button id="submitGestionnaireModal" type="button" class="btn btn-primary">Sauvegarder</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  {% endif %}

{% endblock %}

{% block js %}
  <script>
  {% if is_granted('ROLE_ADMIN') %}
  $('body').on('click', '.edit_data', function() {
    var data = JSON.parse($(this).attr('data'));
    var html = '<div id="alertGestionnaireModal" class="alert"></div>';
    $.each(data, function(index, value) {
      if(index == 'order') class_name = 'hide';
      else class_name = '';
      html += '<div class="form-group col-md-12 '+class_name+'">\
          <label class="col-md-4 control-label" for="textinput">'+index+'</label>\
          <div class="col-md-8">\
          <input id="'+index+'" name="'+index+'" type="text" placeholder="'+value+'" value="'+value+'" class="form-control input-md">\
          </div>\
        </div><div class="clearfix"></div>';
    });
    $('#gestionnaireModal .modal-body').html('<form id="formGestionnaireModal" data="'+$(this).attr('data')+'" action="">'+html+'</form><div class="clearfix"></div>');
    $('#gestionnaireModal').modal('show');
  });
  $('body').on('click', '#submitGestionnaireModal', function(e) {
    e.preventDefault();
    submit_gestionnaire_modal = $(this);
    submit_gestionnaire_modal.addClass('disabled');
    submit_gestionnaire_modal.prop('disabled', true);
    var data = $('#formGestionnaireModal').serialize();
    $.ajax({
        url: Routing.generate('gestionnaire_edit', { id: {{ gestionnaire.id }} }),
        type: 'POST',
        data: data,
        beforeSend: function() {
          $('body').find('#alertGestionnaireModal').addClass('alert-info').removeClass('alert-success').removeClass('alert-warning').removeClass('alert-danger').text('En cours...');
        },
        success: function(result) {
          if(result['status']) {
            $('body').find('#alertGestionnaireModal').addClass('alert-success').removeClass('alert-info').text('Gestionnaire modifiée avec succcès');
            submit_gestionnaire_modal.removeClass('disabled');
            submit_gestionnaire_modal.prop('disabled', false);
            setTimeout(function() {location.reload();}, 2000);
          } else {
            $('body').find('#alertGestionnaireModal').addClass('alert-warning').removeClass('alert-info').text('Modification a échouer');
            submit_gestionnaire_modal.removeClass('disabled');
            submit_gestionnaire_modal.prop('disabled', false);
          }
        },
        error: function() {
          $('body').find('#alertGestionnaireModal').addClass('alert-danger').removeClass('alert-info').text('Erreur 500');
          submit_gestionnaire_modal.removeClass('disabled');
          submit_gestionnaire_modal.prop('disabled', false);
        }
      });
  });
  {% endif %}
  </script>

  <script>
  var models = [];
    
  {% for model in models %}
    models[{{ model.id }}] = {
      object: "{{ model.object|e('js') }}",
      body: "{{ model.body|e('js') }}",
    };
  {% endfor %}
    if(!$('#form_date #message_to').length) {
      $('#form_date h1').text('Entretien');
      $('#form_date .btn-primary').html('<i class="fa fa-save fa-fw"></i> Enregistrer');
      $('.select-mail').remove();
      if(!$('#form_{{ date }} #lettre_to').length) $('.select-address').remove();
    } else {
      $('.select-address').remove();
    }
    
    $('.select-mail').click(function() {
      $('#form_date #message_to').val($(this).data('mail'));
    });
    
    $('.select-address').click(function() {
      var address = $(this).data('address');
      $('#form_{{ date }} #lettre_to').val(address);
    });
    
    $('#form_date #select-model').change(function() {
      if(models[$(this).val()] !== undefined) {
        $('#form_date [id*="_object"]').val(models[$(this).val()].object);
        $('#form_date [id*="_body"]').val(models[$(this).val()].body);
      }
    });

    

    var queryProjetUrl = "{{ path('projet_search') }}";
    
    $('#form_{{ date }} #lettre_gestionnaire_projet').select2({
      ajax: {
        url: queryProjetUrl,
        dataType: 'json',
        delay: 500,
        processResults: function (data) {
          return {
            results: data
          };
        }
      },
      escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
      minimumInputLength: 1,
    });
    
  </script>
{% endblock %}