{% extends 'base.html.twig' %}

{% set title = 'Gestionnaire' %}
{% set item = 'gestionnaire' %}

{% block body %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/dataTables.bootstrap.min.css">
  <style>
  .table-striped tbody tr:hover {
    background-color: #31b0d5;
  }
  </style>
  <div class="container">
    {# <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mairie_nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="mairie_nav">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" rel="tab_list">Liste</a></li>
            <li><a href="#" rel="tab_carte">Afficher <i style="color:red;" class="fa fa-map-o" aria-hidden="true"></i></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav> #}
    <fieldset id="tab_list">
      <legend>Liste</legend>
      <div class="btn-group col-sm-offset-3" role="group" aria-label="...">
        <a href="{{ path('gestionnaire_export') }}" class="btn btn-success btn-sm"><i class="fa fa-fw fa-save"></i> Exporter</a>
        <button id="import" class="btn btn-danger btn-sm"><i class="fa fa-fw fa-paperclip"></i> Importer</a>
      </div>
      {% if gestionnaires is empty %}
        <div class="alert alert-info mt0">
          Aucun gestionnaire
        </div>
      {% else %}
        <table id="datatable" class="table table-striped table-middle">
          <thead>
            <tr>
              <th>Gestionnaire</th>
              <th>Compétence</th>
              <th>Contact</th>
              <th>Fonction</th>
              <th>Adresse</th>
              <th>Ville</th>
              <th>Email</th>
              <th>Téléphone</th>
              <th>Département</th>
            </tr>
          </thead>
          <tbody>
            {% for gestionnaire in gestionnaires %}
            <tr>
              <td>{{ gestionnaire.gestionnaire }}</td>
              <td>{{ gestionnaire.competence }}</td>
              <td>{{ gestionnaire.contact }}</td>
              <td>{{ gestionnaire.fonction }}</td>
              <td>{{ gestionnaire.adresse }}</td>
              <td>{{ gestionnaire.ville }}</td>
              <td>{{ gestionnaire.email }}</td>
              <td>{{ gestionnaire.telephone }}</td>
              <td>{{ gestionnaire.departement.nom }}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th>Département</th>
            </tr>
          </tfoot>
        </table>
      {% endif %}
    </fieldset>
    <fieldset id="tab_annuaire" class="hide">
      <legend>Annuaire</legend>
    </fieldset>

  </div>

  <div class="row hide">
    <div class="col-xs-12">
      
      {{ form_start(form) }}
      <fieldset>
        <legend>Importer</legend>
        <div class="col-xs-4">
        {{ form_row(form.importFile) }}
        </div>
        <div class="col-xs-2">
          <button id="import_submit" type="submit" class="btn btn-primary"><i class="fa fa-paperclip"></i> Importer</button>
        </div>
      </fieldset>
      
      {{ form_rest(form) }}
      {{ form_end(form) }}
    </div>
  </div>
  
  <div class="modal fade bs-modal" tabindex="-1" role="dialog" aria-labelledby="emailModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-center">
        <div id="show_message" style="padding: 20px;text-align: left;" class="modal-body">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.0/js/dataTables.bootstrap.min.js"></script>
  <script>
  $(document).ready(function () {
    $('#datatable').DataTable( {
      "order": [[ 8, "asc" ]],
      language: {
        processing:     "Traitement en cours...",
        search:         "Rechercher&nbsp;:",
        lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
        info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
        infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
        infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
        infoPostFix:    "",
        loadingRecords: "Chargement en cours...",
        zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
        emptyTable:     "Aucune donnée disponible dans le tableau",
        paginate: {
          first:      "Premier",
          previous:   "Pr&eacute;c&eacute;dent",
          next:       "Suivant",
          last:       "Dernier"
        },
        aria: {
          sortAscending:  ": activer pour trier la colonne par ordre croissant",
          sortDescending: ": activer pour trier la colonne par ordre décroissant"
        }
      },
      initComplete: function () {
        this.api()
          .columns(8)
          .every(function () {
            var column = this;
            var select = $('<select class="form-control input-sm"><option value=""></option></select>')
              .appendTo($(column.footer()).empty())
              .on('change', function () {
                  var val = $.fn.dataTable.util.escapeRegex($(this).val());

                  column.search(val ? '^' + val + '$' : '', true, false).draw();
              });

            column
              .data()
              .unique()
              .sort()
              .each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option>');
              });
          });
        },
  } );
  });

  $('#import').click(function() {
    $('#import_importFile').click();
  });
  var count = 1;
  
  $('#import_importFile').change(function() {
    swal({
        title: "Importer ce fichier ?",
        text: "Les parcs anciens seront supprimés définitivement.",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Importer",
        cancelButtonText: "Annuler",
        closeOnConfirm: false,
        closeOnCancel: true,
        allowOutsideClick: true,
        showLoaderOnConfirm: true,
      },
      function(isConfirm){
        if (isConfirm) {
          $('#import_importFile').parents('form').submit();
          setInterval(function() {
            if(count) {
              count = 0;
              $.get('{{ path('gestionnaire_count_all') }}', function( data ) {
                count = 1;
                $('body').find('.sweet-alert h2').html(data + ' éoliennes importées');
              });
            }
          }, 3000);
        } else {

        }
    });
  });
  </script>
{% endblock %}
