{% extends 'base.html.twig' %}

{% set title = 'Modifier ' ~ batiment %}
{% set item = 'batiment' %}

{% form_theme form 'bootstrap_3_horizontal_sm_layout.html.twig' %}

{% block body %}
  <div class="container">
    <a href="{{ path('batiment_index') }}" class="btn btn-default btn-xs pull-right"><i class="fa fa-fw fa-close"></i> Annuler</a>
    <div class="page-title"><h1><i class="fa fa-fw fa-pencil"></i> {{ title }}</h1></div>
    <hr>
    <div class="row">
      <div class="col-sm-6">
      {{ form_start(form) }}
      {{ form_row(form.nom) }}
      {{ form_row(form.pans) }}
      {{ form_row(form.longueur) }}
      {{ form_row(form.largeur) }}
      {{ form_row(form.faitage) }}
      {{ form_row(form.surfaceSol) }}
      {{ form_row(form.charge) }}
      {{ form_row(form.bardage) }}
      {{ form_row(form.ossature) }}
      {{ form_row(form.charpente) }}
      {{ form_row(form.couverture) }}
      {{ form_row(form.photoFile) }}
      {{ form_row(form.photo2File) }}
      {{ form_row(form.photo3File) }}
      {{ form_row(form.photo4File) }}
      {{ form_row(form.toitures) }}
      </div>
      <div id="main_photo" class="col-sm-6">
        <img style="max-width: 100%;object-fit:contain;" src=""><nav style="margin-left:30%;" aria-label="Page navigation center-text"><ul class="pagination"><li class="page-item disabled"><a id="prev_image" class="page-link" href="#">Précédent</a></li><li class="page-item disabled"><a id="next_image" class="page-link" href="#">Suivant</a></li></ul></nav>
        <fieldset>
          <legend>Description</legend>
          {{ form_widget(form.description) }}
        </fieldset>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary"><i class="fa fa-check fa-fw"></i> Valider</button>
      </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
  </div>
{% endblock %}

{% block js %}
<script>
  $('#batiment_nouveau_longueur, #batiment_nouveau_largeur').change(function() {
    longueur = $('#batiment_nouveau_longueur').val();
    largeur = $('#batiment_nouveau_largeur').val();
    if(longueur && largeur) surfaceSol = longueur * largeur;
    else surfaceSol = 0;
    $('#batiment_nouveau_surfaceSol').val(surfaceSol);
  });

  var $collectionHolderDC = $('#batiment_nouveau_toitures');
  var prototypeDC = $collectionHolderDC.data('prototype');

  $('#batiment_nouveau_toitures_add_entry').click(function () {
    var length = $collectionHolderDC.children().length;
    var entry = prototypeDC.replace(/__name__label__/g, length);
    entry = entry.replace(/__name__/g, length);
    $collectionHolderDC.append(entry);

  });

  $('#batiment_nouveau_toitures_remove_entry').click(function () {
      if($('> :last-child', $collectionHolderDC).length) {
        var id = $('> :last-child', $collectionHolderDC).find('input').attr('id').match(/\d+/);
        id = parseInt(id) + 4;
        delete main_images[id];
        if(current_main_image == id) {
          current_main_image = current_main_image - 1;
          if(main_images[current_main_image] !== undefined)
            $('#main_photo img').attr('src', main_images[current_main_image][0]);
          else $('#main_photo img').attr('src', '');
        }
        updatePrevNextButtons();
      }
    $('> :last-child', $collectionHolderDC).remove();
  });
  
  var current_main_image = 0;
  var main_images = {};
  {% if form.vars.value.photo is defined and form.vars.value.photo %}
    main_images[0] = {0: '{{ asset('upload/' ~ form.vars.value.photo) }}'};
    $('label[for="batiment_nouveau_photoFile"]').css('color', 'blue').attr('title', '{{ form.vars.value.photoOriginalName }}');
  {% endif %}
  {% if form.vars.value.photo2 is defined and form.vars.value.photo2 %}
    main_images[1] = {0: '{{ asset('upload/' ~ form.vars.value.photo2) }}'};
    $('label[for="batiment_nouveau_photo2File"]').css('color', 'blue').attr('title', '{{ form.vars.value.photo2OriginalName }}');
  {% endif %}
  {% if form.vars.value.photo3 is defined and form.vars.value.photo3 %}
    main_images[2] = {0: '{{ asset('upload/' ~ form.vars.value.photo3) }}'};
    $('label[for="batiment_nouveau_photo3File"]').css('color', 'blue').attr('title', '{{ form.vars.value.photo3OriginalName }}');
  {% endif %}
  {% if form.vars.value.photo4 is defined and form.vars.value.photo4 %}
    main_images[3] = {0: '{{ asset('upload/' ~ form.vars.value.photo3) }}'};
    $('label[for="batiment_nouveau_photo4File"]').css('color', 'blue').attr('title', '{{ form.vars.value.photo4OriginalName }}');
  {% endif %}
  {% if form.vars.value.toitures[0] is defined %}
    {% for toiture in form.vars.value.toitures %}
    {% if toiture.photo %}
      main_images[{{ loop.index0 + 4 }}] = {0: '{{ asset('upload/' ~ toiture.photo) }}'};
      $('#batiment_nouveau_toitures tr:eq({{ loop.index0 }}) label:last').css('color', 'blue').attr('title', '{{ toiture.photoOriginalName }}');
    {% endif %}
    {% endfor %}
  {% endif %}
    if(main_images[0] !== undefined) $('#main_photo img').attr('src', main_images[0][0]);
    else if(main_images[1] !== undefined) $('#main_photo img').attr('src', main_images[1][0]);
    else if(main_images[2] !== undefined) $('#main_photo img').attr('src', main_images[2][0]);
    else if(main_images[3] !== undefined) $('#main_photo img').attr('src', main_images[3][0]);
    else if(main_images[4] !== undefined) $('#main_photo img').attr('src', main_images[4][0]);
    else if(main_images[5] !== undefined) $('#main_photo img').attr('src', main_images[5][0]);
    updatePrevNextButtons();
    function updatePrevNextButtons() {
      prev = -1;
      next = -1;
      $.each(main_images, function(i, value) {
        if(current_main_image > i) prev = 1;
        if(next == -1 && current_main_image < i) next = 1;
      });
      if(prev >= 0) $('#prev_image').parent().removeClass('disabled');
      else  $('#prev_image').parent().addClass('disabled');
      if(next >= 0) $('#next_image').parent().removeClass('disabled');
      else $('#next_image').parent().addClass('disabled');
    }
    $('#next_image, #prev_image').click(function(e) {
      e.preventDefault();
      prev = -1;
      next = -1;
      $.each(main_images, function(i, value) {
        if(current_main_image > i) prev = i;
        if(next == -1 && current_main_image < i) next = i;
      });
      if(($(this).attr('id') == 'prev_image' && prev >= 0) || ($(this).attr('id') == 'next_image' && next >= 0)) {
        if($(this).attr('id') == 'next_image') current_main_image = next;
        else current_main_image = prev;
        updatePrevNextButtons();
        $('#main_photo img').attr('src', main_images[current_main_image][0]);
      }
    });
    $('body').on('change', 'input[id*=_photoFile],input[id*=_photo2File],input[id*=_photo3File],input[id*=_photo4File]', function() {
      var id = $(this).attr('id').match(/_(\d+)/);
      if(id) id = parseInt(id[1]) + 4;
      else {
        var id = $(this).attr('id').match(/\d+/);
        if(id) id = parseInt(id) - 1;
        else id = 0;
      }
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        
        reader.onload = function(e) {
          $('#main_photo img').attr('src', e.target.result);
          if(main_images[id] !== undefined) main_images[id][0] = e.target.result;
          else {
            main_images[id] = {0: e.target.result};
          }
          current_main_image = id;
          updatePrevNextButtons();
        }
        
        reader.readAsDataURL(this.files[0]); // convert to base64 string
      }
    });
</script>
{% endblock %}
