{% extends 'base.html.twig' %}

{% set title = 'Documents | Batiments | News | Panneaux PV | Eoliennes' %}
{% set item = 'batiment' %}

{% block body %}
  <div class="container-fluid">
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#documents_nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{# <img alt="Brand" width="20"  src="{{ asset('favicon.png') }}"> #}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="documents_nav">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" rel="tab_docs">Documents</a></li>
            <li class=""><a href="#" rel="tab_batiments">Batiments</a></li>
            <li class=""><a href="#" rel="tab_news">News</a></li>
            <li class=""><a href="#" rel="tab_modeles_panneaux">Modèles panneaux pv</a></li>
            <li class=""><a href="#" rel="tab_modeles_eoliennes">Modèles d'éoliennes</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <fieldset id="tab_docs">
      <legend>Docs <a href="{{ path('docs_new') }}" class="btn btn-primary btn-xs pull-right"><i class="fa fa-fw fa-plus"></i> Ajouter doc</a></legend>
        
        {% if docs is empty %}
        <div class="alert alert-info mt0">
          Aucun docs
        </div>
      {% else %}
      
      <div class="row-fluid">
        <div class="col-md-6">
          <input type="text" id="docs_recherche" class="form-control hide" placeholder="recherche" autocomplete="off">
          <table id="datatable_docs" class="table table-striped table-middle">
            <thead>
              <tr>
                <th>Date</th>
                <th class="column-fit">Titre</th>
                <th>Note</th>
                <th>Doc</th>
                <th class="column-fit"></th>
              </tr>
            </thead>
            <tbody id="docs">
              {% for item in docs %}
              <tr>
                <td>{{ item.date|date('d/m/Y') }}</td>
                <td class="column-fit">{{ item.titre }}</td>
                <td>
                {% if item.note %}<button class="btn btn-info btn-sm btn_note">Afficher</button>{% endif %}
                <span class="hide">{{ item.note }}</span>
                </td>
                <td>{{ item.photoOriginalName }}</td>
                <td class="column-fit">
                <a href="{{ path('docs_edit', {id: item.id}) }}"><button id="{{ item.id }}" type="docs" class="btn btn-warning btn-xs button-edit"><i class="fa fa-fw fa-edit"></i></button></a>
                {% if is_granted('ROLE_ADMIN') %}
                &nbsp;&nbsp;<button id="{{ item.id }}" type="docs" nom="" class="btn btn-danger btn-xs button-delete" title="Double click"><i class="fa fa-fw fa-trash"></i></button>
                {% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <div id="main_photo" class="col-sm-12"><nav style="margin-left:30%;" aria-label="Page navigation center-text"><ul class="pagination"><li class="page-item disabled"><a id="prev_image" class="page-link" href="#">Précédent</a></li><li class="page-item disabled"><a id="next_image" class="page-link" href="#">Suivant</a></li></ul></nav><a style="width: inherit;" href="#"><img style="width: inherit;" src="" alt="Télécharger"></a></div>
        </div>
      </div>
      {% endif %}
    </fieldset>
    <fieldset id="tab_batiments" class="hide">
      <legend>Batiments <a href="{{ path('batiment_new') }}" class="btn btn-primary btn-xs pull-right"><i class="fa fa-fw fa-plus"></i> Ajouter un batiment</a></legend>

      <table id="datatable" class="table table-striped table-middle">
        <thead>
          <tr>
            <th class="column-fit">Modèle</th>
            <th class="column-fit">Pans</th>
            <th class="column-fit">Longeur <span style="color:red;">(m)</span></th>
            <th class="column-fit">Largeur <span style="color:red;">(m)</span></th>
            <th class="column-fit">Faitage <span style="color:red;">(m)</span></th>
            <th class="column-fit">Surface au sol <span style="color:red;">(m2)</span></th>
            <th class="column-fit">Description</th>
            <th class="column-fit"></th>
            <th class="column-fit"></th>
          </tr>
        </thead>
        <tbody>
          {% for batiment in batiments %}
          <tr>
            <td class="column-fit">{{ batiment.nom|upper }}</td>
            <td class="column-fit">{{ batiment.pans }}</td>
            <td class="column-fit">{{ batiment.longeur }}</td>
            <td class="column-fit">{{ batiment.largeur }}</td>
            <td class="column-fit">{{ batiment.faitage }}</td>
            <td class="column-fit">{{ batiment.surfaceSol }}</td>
            <td class="column-fit">{{ batiment.description }}</td>
            <td class="column-fit"><a href="{{ path('batiment_edit', { 'id': batiment.id }) }}" class="btn btn-warning btn-xs"><i class="fa fa-fw fa-pencil"></i></a></td>
            <td class="column-fit"><button id="{{ batiment.id }}" type="batiment" nom="{{ batiment.nom }}" class="btn btn-danger btn-xs button-delete" title="Double click"><i class="fa fa-fw fa-trash"></i></button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
    <fieldset id="tab_news" class="hide">
      <legend>News <a href="{{ path('news_new') }}" class="btn btn-primary btn-xs pull-right"><i class="fa fa-fw fa-plus"></i> Ajouter news</a></legend>
        
      {% if news is empty %}
        <div class="alert alert-info mt0">
          Aucun news
        </div>
      {% else %}
        <table id="datatable_news" class="table table-striped table-middle">
          <thead>
            <tr>
              <th>Date</th>
              <th>Saisie</th>
              <th>Thème</th>
              <th>Filère</th>
              <th class="column-fit">Titre</th>
              <th>Note</th>
              <th>URL</th>
              <th class="column-fit"></th>
            </tr>
          </thead>
          <tbody>
            {% for item in news %}
            <tr>
              <td>{{ item.date|date('d/m/Y') }}</td>
              <td>{{ item.saisie }}</td>
              <td>{{ item.theme }}</td>
              <td>{{ item.filiere }}</td>
              <td class="column-fit">{{ item.titre }}</td>
              <td>
              {% if item.note %}<button class="btn btn-info btn-sm btn_note">Afficher</button>{% endif %}
              <span class="hide">{{ item.note }}</span>
              </td>
              <td>{{ item.url }}</td>
              <td class="column-fit">
              <a href="{{ path('news_edit', {id: item.id}) }}"><button id="{{ item.id }}" type="news" class="btn btn-warning btn-xs button-edit"><i class="fa fa-fw fa-edit"></i></button></a>
              {% if is_granted('ROLE_ADMIN') %}
              &nbsp;&nbsp;<button id="{{ item.id }}" type="news" nom="" class="btn btn-danger btn-xs button-delete" title="Double click"><i class="fa fa-fw fa-trash"></i></button>
              {% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </fieldset>
    <fieldset id="tab_modeles_panneaux" class="hide">
      <legend>Modèles de panneaux pv <a href="{{ path('modele_panneau_new') }}" class="btn btn-primary btn-xs pull-right"><i class="fa fa-fw fa-plus"></i> Ajouter un modèle</a></legend>

      <table id="datatable" class="table table-striped table-middle">
        <thead>
          <tr>
            <th class="column-fit">Marque</th>
            <th class="column-fit">Origine</th>
            <th class="column-fit">Technique</th>
            <th class="column-fit">Modèle</th>
            <th class="column-fit">Puissance <span style="color:red;">(Wc)</span></th>
            <th class="column-fit">Longeur <span style="color:red;">(mm)</span></th>
            <th class="column-fit">Largeur <span style="color:red;">(mm)</span></th>
            <th class="column-fit">Epaisseur <span style="color:red;">(mm)</span></th>
            <th class="column-fit">Poids <span style="color:red;">(kg)</span></th>
            <th class="column-fit"></th>
            <th class="column-fit"></th>
            <th class="column-fit"></th>
          </tr>
        </thead>
        <tbody>
          {% for modele in modelesPanneaux %}
          <tr>
            <td class="column-fit">{{ modele.marque }}</td>
            <td class="column-fit">{{ modele.pays }}</td>
            <td class="column-fit">{{ modele.technique }}</td>
            <td class="column-fit">{{ modele.nom }} <span style="color:red;">({{ modele.puissance }}Wc)</span></td>
            <td class="column-fit">{{ modele.puissance }}</td>
            <td class="column-fit">{{ modele.longeur }}</td>
            <td class="column-fit">{{ modele.largeur }}</td>
            <td class="column-fit">{{ modele.epaisseur }}</td>
            <td class="column-fit">{{ modele.poids }}</td>
            <td class="column-fit"><a title="Dupliquer" href="{{ path('modele_panneau_clone', { 'id': modele.id }) }}" class="btn btn-default btn-xs"><i class="fa fa-fw fa-clone"></i></a></td>
            <td class="column-fit"><a title="Modifier" href="{{ path('modele_panneau_edit', { 'id': modele.id }) }}" class="btn btn-warning btn-xs"><i class="fa fa-fw fa-pencil"></i></a></td>
            <td class="column-fit"><button id="{{ modele.id }}" type="modele_panneau" nom="{{ modele.nom }}" class="btn btn-danger btn-xs button-delete" title="Double click"><i class="fa fa-fw fa-trash"></i></button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
    <fieldset id="tab_modeles_eoliennes" class="hide">
      <legend>Modèles d'éoliennes <a href="{{ path('modele_eolienne_new') }}" class="btn btn-primary btn-xs pull-right"><i class="fa fa-fw fa-plus"></i> Ajouter un modèle</a></legend>

      <table id="datatable" class="table table-striped table-middle">
        <thead>
          <tr>
            <th class="column-fit">Marque</th>
            <th class="column-fit">Modèle</th>
            <th class="column-fit">Origine</th>
            <th class="column-fit">Puissance <span style="color:red;">(Mw)</span></th>
            <th class="column-fit">Hauteur mât <span style="color:red;">(m)</span></th>
            <th class="column-fit">Diamètre rotor <span style="color:red;">(m)</span></th>
            <th class="column-fit">Hauteur totale <span style="color:red;">(m)</span></th>
            <th class="column-fit"></th>
            <th class="column-fit"></th>
            <th class="column-fit"></th>
          </tr>
        </thead>
        <tbody>
          {% for modele in modelesEoliennes %}
          <tr>
            <td class="column-fit">{{ modele.marque }}</td>
            <td class="column-fit">{{ modele.nom }} <span style="color:red;">({{ modele.hauteurMat }}m)</span></td>
            <td class="column-fit">{{ modele.pays }}</td>
            <td class="column-fit">{{ modele.puissance }}</td>
            <td class="column-fit">{{ modele.hauteurMat }}</td>
            <td class="column-fit">{{ modele.diametreRotor }}</td>
            <td class="column-fit">{{ modele.hauteurTotale }}</td>
            <td class="column-fit"><a title="Dupliquer" href="{{ path('modele_eolienne_clone', { 'id': modele.id }) }}" class="btn btn-default btn-xs"><i class="fa fa-fw fa-clone"></i></a></td>
            <td class="column-fit"><a title="Modifier" href="{{ path('modele_eolienne_edit', { 'id': modele.id }) }}" class="btn btn-warning btn-xs"><i class="fa fa-fw fa-pencil"></i></a></td>
            <td class="column-fit"><button id="{{ modele.id }}" type="modele_eolienne" nom="{{ modele.nom }}" class="btn btn-danger btn-xs button-delete" title="Double click"><i class="fa fa-fw fa-trash"></i></button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
  </div>
  <div class="modal fade bs-modal" tabindex="-1" role="dialog" aria-labelledby="newsModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-center">
        <div id="show_note" style="padding: 20px;text-align: left;" class="modal-body">
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    $('#datatable').DataTable({
      language: dtLang,
      paging: false,
      ordering: false,
      bInfo: false,
    });

    $('.button-delete').dblclick(function() {
      id = $(this).attr('id');
      nom = $(this).attr('nom');
      type = $(this).attr('type');
      
      if(type=='news' || type=='docs')
        title = type=='news' ? 'News sera supprimé définitivement.' : 'Doc sera supprimé définitivement.';
      else title = "Le modèle « "+nom+" » sera supprimé définitivement.";
      
      if (!id) {
        return;
      }
      swal({
        title: "Supprimer ?",
        text: title,
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Supprimer",
        cancelButtonText: "Annuler",
        closeOnConfirm: false,
        closeOnCancel: true,
        allowOutsideClick: true,
        showLoaderOnConfirm: true,
      },
      function(isConfirm){
        if (isConfirm) {
          var csrf = '{{ csrf_token('token')|e('js') }}';
          $.ajax({
            url: Routing.generate(type + '_delete', {id: id}),
            type: 'DELETE',
            data: { id: id, token: csrf  },
            success: function(result) {
              location.reload();
            }
          });
        } else {

        }
      });

    });
  </script>
  <script>
  var current_main_image = 0;
    {% if docs[0].photo is defined and docs[0].photo %}
      var main_images = {
        {% for doc in docs %}
        {{ loop.index0 }}:{0:'{{ doc.titre }}', 1:'{{ doc.note }}', 2:'{{ asset('upload/' ~ doc.photo) }}', 3:'{{ doc.date|date('d/m/Y') }}', 4: true, 5: '{{ doc.photo }}'}
        {% if not loop.last %},{% endif %}{% endfor %}
        };
      $('#main_photo img').attr('src', main_images[0][2]);
        $('#main_photo img').parent().attr('href', main_images[0][2]);
        $('#main_photo img').parent().attr('download', main_images[0][5]);
      {% if docs[1].photo is defined and docs[1].photo %}
      updatePrevNextButtons();
      {% endif %}
    {% else %}
      var main_images = {};
    {% endif %}
    console.log(main_images);
    function updatePrevNextButtons() {
      $('#docs tr.info').removeClass('info');
      if(main_images[current_main_image][4]) $('#docs tr:eq('+current_main_image+')').removeClass('success2').addClass('info');
      else $('#docs tr:eq('+current_main_image+')').removeClass('success2');
      prev = -1;
      next = -1;
      $.each(main_images, function(i, value) {
        if(current_main_image > parseInt(i) && value[4]) prev = 1;
        if(next == -1 && current_main_image < parseInt(i) && value[4]) next = 1;
      });
      if(prev >= 0) $('#prev_image').parent().removeClass('disabled');
      else  $('#prev_image').parent().addClass('disabled');
      if(next >= 0) $('#next_image').parent().removeClass('disabled');
      else $('#next_image').parent().addClass('disabled');
      if(main_images[0] === undefined) {
        $('#docs_recherche').addClass('hide');
        $('#docs_recherche').val();
      } else $('#docs_recherche').removeClass('hide');
    }
    $('#next_image, #prev_image').click(function(e) {
      e.preventDefault();
      prev = -1;
      next = -1;
      $.each(main_images, function(i, value) {
        if(current_main_image > parseInt(i) && value[4]) prev = i;
        if(next == -1 && current_main_image < parseInt(i) && value[4]) next = i;
      });
      if(($(this).attr('id') == 'prev_image' && prev >= 0) || ($(this).attr('id') == 'next_image' && next >= 0)) {
        if($(this).attr('id') == 'next_image') current_main_image = next;
        else current_main_image = prev;
        updatePrevNextButtons();
        $('#main_photo img').attr('src', '');
        $('#main_photo img').attr('src', main_images[current_main_image][2]);
        $('#main_photo img').parent().attr('href', main_images[current_main_image][2]);
        $('#main_photo img').parent().attr('download', main_images[current_main_image][5]);
      }
    });
    $('#docs_recherche').change(function() {
      var search = $(this).val().trim();
      $('#main_photo img').attr('src', '');
      found = 0;
      $.each(main_images, function(i, value) {
        if(value[0].match(new RegExp(search, 'gi')) || value[1].match(new RegExp(search, 'gi')) || value[3].match(new RegExp(search, 'gi'))) {
          main_images[i][4] = true;
          if(!found) {
            $('#docs tr:eq('+i+')').addClass('info');
            found = 1;
            current_main_image = i;
            $('#main_photo img').attr('src', value[2]);
            $('#main_photo img').parent().attr('href', value[2]);
            $('#main_photo img').parent().attr('download', value[5]);
          } else $('#docs tr:eq('+i+')').addClass('success2');
        } else {
          main_images[i][4] = false;
          $('#docs tr:eq('+i+')').removeClass('success2').removeClass('info');
        }
      });
      updatePrevNextButtons();
    });
  </script>
  <script>
  $('.btn_note').click(function() {
    var note = $(this).parent().find('span').text().replace(/\n/, '<br>');
    $('.bs-modal').modal('show');
    $('#show_note').html(note);
  });
  </script>
  <script>
  $('#documents_nav a').click(function (e) {
    var attr = $(this).attr('rel');
    if(typeof attr !== typeof undefined && attr !== false) {
      e.preventDefault();
      $('#documents_nav li').removeClass('active');
      $(this).parent().addClass('active');
      $('fieldset').addClass('hide');
      $('fieldset#' + attr).removeClass('hide');
      if(attr == 'tab_docs') $('#main_photo').removeClass('hide');
      else $('#main_photo').addClass('hide');
    }
  });
  </script>
{% endblock %}
