{% extends 'base.html.twig' %}

{% set title = 'Ajouter un modèle d\'éolienne' %}
{% set item = 'batiment' %}

{% block body %}
  <div class="container">
    <a href="{{ path('batiment_index') }}" class="btn btn-default btn-xs pull-right"><i class="fa fa-fw fa-close"></i> Annuler</a>
    <div class="page-title"><h1>{{ title }}</h1></div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
      {{ form_start(form) }}
      {{ form_row(form.marque) }}
      {{ form_row(form.nom) }}
      {{ form_row(form.pays) }}
      {{ form_row(form.puissanceMin) }}
      {{ form_row(form.puissanceMax) }}
      {{ form_row(form.hauteurMatMin) }}
      {{ form_row(form.hauteurMatMax) }}
      {{ form_row(form.diametreRotor) }}
      {{ form_row(form.hauteurTotale) }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary"><i class="fa fa-check fa-fw"></i> Valider</button>
      </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
  </div>
{% endblock %}

{% block js %}
<script>
  $('#modele_eolienne_hauteurMatMax ,#modele_eolienne_diametreRotor').change(function() {
    var hauteur_max = $('#modele_eolienne_hauteurMatMax').val().trim().replace(/'/, '.');
    var diametre_rotor = $('#modele_eolienne_diametreRotor').val().trim().replace(/'/, '.');
    if(!hauteur_max || !diametre_rotor) $('#modele_eolienne_hauteurTotale').val(0);
    else {
      var hauteur_totale = (parseFloat(hauteur_max) + (parseFloat(diametre_rotor) / 2));
      $('#modele_eolienne_hauteurTotale').val(hauteur_totale.toString().replace(/\./, '\''));
    }
  });
</script>
{% endblock %}
