{% extends 'base.html.twig' %}

{% set title = 'Infos' %}
{% set item = 'news' %}

{% block body %}
  <div class="container">
    
    <fieldset id="tab_news" class="">
      <legend>Infos <a href="{{ path('news_new') }}" class="btn btn-primary btn-xs pull-right"><i class="fa fa-fw fa-plus"></i> Ajouter info</a></legend>
        
      {% if news is empty %}
        <div class="alert alert-info mt0">
          Aucun news
        </div>
      {% else %}
        <table id="datatable_news" class="table table-striped datatable table-middle">
          <thead>
            <tr>
              <th>Date Saisie</th>
              <th>Date Parution</th>
              <th>Saisie</th>
              <th>Thème</th>
              <th>Filière</th>
              <th class="column-fit">Titre</th>
              <th>Note</th>
              <th>URL</th>
              <th class="column-fit"></th>
            </tr>
          </thead>
          <tbody>
            {% for item in news %}
            <tr>
              <td>{{ item.dateSaisie|date('d/m/Y') }}</td>
              <td>{{ item.dateParution|date('d/m/Y') }}</td>
              <td>{{ item.saisie }}</td>
              <td>{{ item.theme }}</td>
              <td>{{ item.filiere }}</td>
              <td class="column-fit">{{ item.titre }}</td>
              <td>
              {% if item.note %}<button class="btn btn-info btn-sm btn_note">Afficher</button>{% endif %}
              <span class="hide">{{ item.note }}</span>
              </td>
              <td><a target="_blank" href="{{ item.url }}">{{ item.url }}</a></td>
              <td class="column-fit">
              <a href="{{ path('news_edit', {id: item.id}) }}"><button id="{{ item.id }}" type="news" class="btn btn-warning btn-xs button-edit"><i class="fa fa-fw fa-edit"></i></button></a>
              {% if is_granted('ROLE_ADMIN') %}
              &nbsp;&nbsp;<button id="{{ item.id }}" type="news" nom="" class="btn btn-danger btn-xs button-delete" title="Double click"><i class="fa fa-fw fa-trash"></i></button>
              {% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </fieldset>
  </div>
  <div class="modal fade bs-modal" tabindex="-1" role="dialog" aria-labelledby="newsModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-center">
        <div id="show_note" style="padding: 20px;text-align: left;" class="modal-body">
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    $('.datatable').DataTable({
      language: dtLang,
      paging: false,
      ordering: false,
      bInfo: false,
    });

    $('.button-delete').dblclick(function() {
      id = $(this).attr('id');
      nom = $(this).attr('nom');
      type = $(this).attr('type');
      
      title = 'Info sera supprimé définitivement.';
      
      if (!id) {
        return;
      }
      swal({
        title: "Supprimer ?",
        text: title,
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Supprimer",
        cancelButtonText: "Annuler",
        closeOnConfirm: false,
        closeOnCancel: true,
        allowOutsideClick: true,
        showLoaderOnConfirm: true,
      },
      function(isConfirm){
        if (isConfirm) {
          var csrf = '{{ csrf_token('token')|e('js') }}';
          $.ajax({
            url: Routing.generate(type + '_delete', {id: id}),
            type: 'DELETE',
            data: { id: id, token: csrf  },
            success: function(result) {
              location.reload();
            }
          });
        } else {

        }
      });

    });
  </script>
  <script>
  $('.btn_note').click(function() {
    var note = $(this).parent().find('span').text().replace(/\n/, '<br>');
    $('.bs-modal').modal('show');
    $('#show_note').html(note);
  });
  </script>
{% endblock %}
