{% extends 'base.html.twig' %}

{% set title = mairie %}
{% set item = 'annuaire' %}

{% block body %}

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-6">
        <h1>{{ mairie }}</h1>
        <hr>
        
        <table class="table table-hover table-striped">
          <tbody>
            <tr>
              <th>Département</th>
              <td>{{ commune is not null ? commune.departement : '' }}</td>
            </tr>
            <tr>
              <th><i class="fa fa-map-marker fa-fw"></i> Adresse</th>
              <td>
                {{ mairie }}<br>
                {{ mairie.address1 }}
                {{ mairie.address2 is not empty ? '<br>' ~ mairie.address2 }}
                <br>{{ mairie.codePostal }} {{ mairie.commune }}
                <button type="button" data-addressone="{{ mairie.address1 }}" data-addresstwo="{{ mairie.address2 }}" data-codepostal="{{ mairie.codePostal }}" data-commune="{{ mairie.commune }}" class="select-address btn btn-xs btn-primary pull-right"><i class="fa fa-mail-forward"></i></button>
              </td>
            </tr>
            <tr>
              <th><i class="fa fa-calendar-times-o fa-fw"></i> Horaire</th>
              <td>{{ mairie.horaire }}</td>
            </tr>
            <tr>
              <th><i class="fa fa-user fa-fw"></i> Maire</th>
              <td>{{ mairie.civiliteMaire }} {{ mairie.prenomMaire }} {{ mairie.nomMaire|upper }}
              <button type="button" data-telephone="{{ mairie.civiliteMaire }} {{ mairie.prenomMaire }} {{ mairie.nomMaire|upper }}" class="select-telephone btn btn-xs btn-primary pull-right"><i class="fa fa-mail-forward"></i></button>
              </td>
            </tr>
            <tr>
              <th><i class="fa fa-phone fa-fw"></i> Téléphone</th>
              <td>
              {% if is_granted('ROLE_ADMIN') %}<button class="btn btn-default btn-xs edit_data" title="Modifier" data='{"telephone": "{{ mairie.telephone }}"}'><i class="fa fa-pencil-square-o"></i></button>&nbsp;{% endif %}
              {{ mairie.telephone }}
              <button type="button" data-telephone="{{ mairie.telephone }}" class="select-telephone btn btn-xs btn-primary pull-right"><i class="fa fa-mail-forward"></i></button>
              </td>
            </tr>
            {# <tr>
              <th><i class="fa fa-fax fa-fw"></i> Fax</th>
              <td>{{ mairie.fax }}</td>
            </tr> #}
            <tr>
              <th>Population 2016</th>
              <td>{{ mairie.population2016 }}</td>
            </tr>
            <tr>
              <th><i class="fa fa-envelope-o"></i> EMAIL 1</th>
              <td>
              {% if is_granted('ROLE_ADMIN') %}<button class="btn btn-default btn-xs edit_data" title="Modifier" data='{"email1": "{{ mairie.email1 }}"}'><i class="fa fa-pencil-square-o"></i></button>&nbsp;{% endif %}
              {{ mairie.email1 }}
                <button type="button" data-mail="{{ mairie.email1 }}" class="select-mail btn btn-xs btn-primary pull-right"><i class="fa fa-mail-forward"></i></button>
              </td>
            </tr>
            {% if mairie.email2 %}
            <tr>
              <th><i class="fa fa-envelope-o"></i> EMAIL 2</th>
              <td>{{ mairie.email2 }}
              <button type="button" data-mail="{{ mairie.email2 }}" class="select-mail btn btn-xs btn-primary pull-right"><i class="fa fa-mail-forward"></i></button>
              </td>
            </tr>
            {% endif %}
            {% if mairie.email3 %}
            <tr>
              <th><i class="fa fa-envelope-o"></i> EMAIL 3</th>
              <td>{{ mairie.email3 }}
              <button type="button" data-mail="{{ mairie.email3 }}" class="select-mail btn btn-xs btn-primary pull-right"><i class="fa fa-mail-forward"></i></button>
              </td>
            </tr>
            {% endif %}
            {% if mairie.email4 %}
            <tr>
              <th><i class="fa fa-envelope-o"></i> EMAIL 4</th>
              <td>{{ mairie.email4 }}
              <button type="button" data-mail="{{ mairie.email4 }}" class="select-mail btn btn-xs btn-primary pull-right"><i class="fa fa-mail-forward"></i></button>
              </td>
            </tr>
            {% endif %}
            {% if mairie.email5 %}
            <tr>
              <th><i class="fa fa-envelope-o"></i> EMAIL 5</th>
              <td>{{ mairie.email5 }}
                <button type="button" data-mail="{{ mairie.email5 }}" class="select-mail btn btn-xs btn-primary pull-right"><i class="fa fa-mail-forward"></i></button>
              </td>
            </tr>
            {% endif %}
            {% if mairie.elus|length > 0 %}<tr><td>Conseillers</td><td></td><td></td></tr>{% endif %}
            {% for elu in mairie.elus %}
            <tr>
              <td>{{ elu['nom'] }}</td>
              <td>
                {% if is_granted('ROLE_ADMIN') %}<button class="btn btn-default btn-xs edit_data" title="Modifier" data='{"order":"{{ loop.index0 }}", "elu" : "{{ elu['nom'] }}", "email": "{{ elu['email'] }}", "telephone": "{{ elu['telephone'] }}"}'><i class="fa fa-pencil-square-o"></i></button>&nbsp;{% endif %}
                {% if elu['email'] %}{{ elu['email'] }}{% endif %}
                {% if elu['telephone'] %}{{ elu['telephone'] }}{% endif %}
                {% if elu['email'] %}
                  <button type="button" data-mail="{{ elu['email'] }}" class="select-mail btn btn-xs btn-primary pull-right"><i class="fa fa-mail-forward"></i></button>
                {% endif %}
                {% if elu['telephone'] %}
                  <button type="button" data-telephone="{{ elu['telephone'] }}" class="select-telephone btn btn-xs btn-primary pull-right"><i class="fa fa-mail-forward"></i></button>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
            <tr>
              <th>Code INSEE</th>
              <td>{{ mairie.insee }}</td>
            </tr>
            <tr>
              <th>Région</th>
              <td>{{ mairie.region }}</td>
            </tr>
          </tbody>
        </table>
            
        <h1>Email envoyé</h1>
        <hr>

        {% if mairie.messages is empty %}
          <p>Aucun email envoyé</p>
        {% else %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Destinaire</th>
                <th>Contactée par</th>
              </tr>
            </thead>
            <tbody>
              {% for message in mairie.messages %}
              <tr>
                <td>{{ message.createdAt|date('d/m/Y H:i:s') }}</td>
                <td>{{ message.to }}</td>
                <td>{{ message.createdBy }}</td>
                <td></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        
      </div>
      <div id="form_date" class="col-md-6">

        <h1>Envoyer un email</h1>
        <hr>
        {{ form_start(form) }}
        
        {{ form_row(form.from) }}
        {{ form_row(form.to) }}
        {# {{ form_row(form.replyTo) }} #}
        
        <hr>
        
        <div class="form-group">
          <label class="col-sm-2 control-label">Modèle</label>
          <div class="col-sm-10">
            <select id="select-model" class="form-control">
              <option value=""></option>
              {% for model in models %}
                <option value="{{ model.id }}">{{ model.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        
        <hr>
        
        {{ form_rest(form) }}

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary"><i class="fa fa-send fa-fw"></i> Envoyer</button>
          </div>
        </div>
        {{ form_end(form) }}

      </div>
    </div>

  </div>

  {% if is_granted('ROLE_ADMIN') %}
  <div id="mairieModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modifier mairie</h4>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          <button id="submitMairieModal" type="button" class="btn btn-primary">Sauvegarder</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  {% endif %}

{% endblock %}

{% block js %}
  <script>
  {% if is_granted('ROLE_ADMIN') %}
  $('body').on('click', '.edit_data', function() {
    var data = JSON.parse($(this).attr('data'));
    var html = '<div id="alertMairieModal" class="alert"></div>';
    $.each(data, function(index, value) {
      if(index == 'order') class_name = 'hide';
      else class_name = '';
      html += '<div class="form-group col-md-12 '+class_name+'">\
          <label class="col-md-4 control-label" for="textinput">'+index+'</label>\
          <div class="col-md-8">\
          <input id="'+index+'" name="'+index+'" type="text" placeholder="'+value+'" value="'+value+'" class="form-control input-md">\
          </div>\
        </div><div class="clearfix"></div>';
    });
    $('#mairieModal .modal-body').html('<form id="formMairieModal" data="'+$(this).attr('data')+'" action="">'+html+'</form><div class="clearfix"></div>');
    $('#mairieModal').modal('show');
  });
  $('body').on('click', '#submitMairieModal', function(e) {
    e.preventDefault();
    submit_mairie_modal = $(this);
    submit_mairie_modal.addClass('disabled');
    submit_mairie_modal.prop('disabled', true);
    var data = $('#formMairieModal').serialize();
    $.ajax({
        url: Routing.generate('mairie_edit', { id: {{ mairie.id }} }),
        type: 'POST',
        data: data,
        beforeSend: function() {
          $('body').find('#alertMairieModal').addClass('alert-info').removeClass('alert-success').removeClass('alert-warning').removeClass('alert-danger').text('En cours...');
        },
        success: function(result) {
          if(result['status']) {
            $('body').find('#alertMairieModal').addClass('alert-success').removeClass('alert-info').text('Mairie modifiée avec succcès');
            submit_mairie_modal.removeClass('disabled');
            submit_mairie_modal.prop('disabled', false);
            setTimeout(function() {location.reload();}, 2000);
          } else {
            $('body').find('#alertMairieModal').addClass('alert-warning').removeClass('alert-info').text('Modification a échouer');
            submit_mairie_modal.removeClass('disabled');
            submit_mairie_modal.prop('disabled', false);
          }
        },
        error: function() {
          $('body').find('#alertMairieModal').addClass('alert-danger').removeClass('alert-info').text('Erreur 500');
          submit_mairie_modal.removeClass('disabled');
          submit_mairie_modal.prop('disabled', false);
        }
      });
  });
  {% endif %}
  </script>

  <script>
  var models = [];
    
  {% for model in models %}
    models[{{ model.id }}] = {
      object: "{{ model.object|e('js') }}",
      body: "{{ model.body|e('js') }}",
    };
  {% endfor %}
    if(!$('#form_date #message_to').length) {
      $('#form_date h1').text('Entretien');
      $('#form_date .btn-primary').html('<i class="fa fa-save fa-fw"></i> Enregistrer');
      $('.select-mail').remove();
    } else {
      $('.select-address').remove();
      $('.select-telephone').remove();
    }
    
    $('.select-mail').click(function() {
      $('#form_date #message_to').val($(this).data('mail'));
    });
    
    $('.select-address').click(function() {
      $('#form_{{ date }} #lettre_to').val($(this).data('addressone') + '\n' + $(this).data('addresstwo') + '\n' + $(this).data('codepostal') + '\n' + $(this).data('commune'));
    });
    
    $('.select-telephone').click(function() {
      $('#form_date #appel_to').val($(this).data('telephone'));
    });
    
    $('#form_date #select-model').change(function() {
      if(models[$(this).val()] !== undefined) {
        $('#form_date [id*="_object"]').val(models[$(this).val()].object);
        $('#form_date [id*="_body"]').val(models[$(this).val()].body);
      }
    });
    
  </script>
{% endblock %}